<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vix Bot</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class='container'>

        <h1 class="mb-4"> Vix Bot Articles</h1>
        <a href="/articles/new" class="btn btn-success"> New Article</a>
        <a href="/users/login" class="btn btn-primary ml-50">Login</a>
        <a href="/users/register" class="btn btn-secondary ml-50">Sign Up</a>

        <!-- Iterating over the "articles" object in our server, where all the data comes from.-->
        <% articles.forEach(article=> { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= article.title %>
                    </h4>


                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>

                    <div class="card-text mb-2 ">

                        <%= article.description %>

                            <%= article.response%>


                                <div> <a href="articles/<%= article.slug %> " class="btn btn-primary  mt-5">Read More
                                    </a>

                                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST"
                                        class="d-inline">
                                        <button type="submit" class="btn btn-danger mt-5">Delete</button>
                                    </form>

                                </div>
                                <!--We can't use a a link to delete because when browser renders google clicks all of the links in our website.
                                so it would delete it all. We will use forms to delete instead. 
                            -->

                    </div>
                </div>
            </div>

            <% }) %>

    </div>

</body>

</html>